@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
  background: none;
  background-color: #00a400;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  height: 36px;
  overflow: hidden;
  padding: 0 32px;
  text-shadow: none;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover span {
    opacity: 0.8;
  }

  &__text {
    transition: 0.3s;
    font-size: 18px;
    font-weight: 600;
    color: $white;
  }
}
