$black: rgba(0, 0, 0, 0.7);
$white: #fff;

$primary: #1c1e21;
$secondary-1: #606770;
$secondary-2: #dadde1;
$secondary-3: #ccd0d5;
$secondary-4: #767676;
$secondary-5: #777777;

$active: #0e54be;
$active-2: #1877f2;
$link: #385898;
